<div class="row">
	<div class="push_five centered eight columns" >

		<div id="table-wrapper">
			<div id="table-scroll">
				<table  class="striped " class="rounded">
					<thead> 
						<tr> 
							<th> Country Name </th>
							<th> Country Code </th>
							<th> Capital </th>
							<th> Area in km<sup>2</sup> </th>
							<th> Population </th>
							<th> Continent </th>
						</tr>
					</thead>
					<tbody ng-repeat="country in countries | orderBy: 'countryName'">
						<tr ng-class="{even: $even, odd: $odd}">
							<td> <a href="#/countries/{{ country.countryCode }}/{{ country.countryName }}">{{ country.countryName }}</a></td>
							<td> {{ country.countryCode }} </td>
							<td> {{ country.capital }} </td>
							<td> {{ country.areaInSqKm | number: 0 }} </td>
							<td> {{ country.population | number: 0 }} </td>
							<td> {{ country.continentName }} </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>





<!--  <div class="row">
	<div class="centered ten columns" >
	  <h2>Countires Data</h2>
		<div id="table-wrapper">
			<div id="table-scroll">
				<table  class="striped " class="rounded">
					<thead>
						<tr>
							<th>Name</th>
							<th>Country Code</th>
							<th>Capital</th>
							<th>Area in Km</th>
							<th>Population</th>
							<th>Continents</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in countries" >
							<td><a href="#/countries/{{c.countryCode }}/{{c.capital }}">{{c.countryName}}</a></td>
							<td><a href="#/countries/{{c.countryCode }}/{{c.capital }}">{{c.countryCode }}</a></td>
							<td><a href="#/countries/{{c.countryCode }}/{{c.capital }}">{{c.capital }}</a></td>
							<td><a href="#/countries/{{c.countryCode }}/{{c.capital }}">{{ c.areaInSqKm }}</a></td>
							<td><a href="#/countries/{{c.countryCode }}/{{c.capital }}">{{ c.population }}</a></td>
							<td><a href="#/countries/{{c.countryCode }}/{{c.capital }}">{{ c.continent }}</a></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="centered three columns">
		<div class="medium  btn primary"><a href="#/">Home</a></div>



	</div>
</div>
-->