	<div class="row">
		<div class="centered ten columns">
			<h3>About the app..</h3>
			<br/>
			<br/>
			<p>This AngularJS app consumes data from the geonames api. Information returned contains the list of all countries and details such as their capitals, population, area, and continent. <br> <br>
				There are 2 Controllers utliziing 1 Factory.
				When a country's name is clicked, the view changes to show further info such as: it's Capital's population, surrounding neighbor countries, the country flag and map. Additionally, clicking a neighbor country's name pulls the information for that country. <br><br>

				Click on "Browse Countries" above to see the list of countries.
			</p>
			<br/>
			
		</div>
	</div>